<div class="page_head">
	<span class="page_title">打包费对账</span>
	<div   class="layui-btn-group f-r mr-40">
		<button lay-submit="" lay-filter="search" class="layui-btn layui-btn-primary layui-btn-small btn-account"><i class="iconfont icon-search"></i>查询</button>
		<button lay-submit="" lay-filter="reset" class="layui-btn layui-btn-primary  layui-btn-small btn-account"><i class="iconfont icon-refresh"></i>重置</button>
		<button lay-submit="" lay-filter="exportAll" class="layui-btn layui-btn-primary layui-btn-small btn-accoun"><i class="iconfont icon-export"></i>导出全部</button>
		<button lay-submit="" lay-filter="download" class="layui-btn layui-btn-primary layui-btn-small btn-accoun"><i class="iconfont icon-export"></i>下载中心</button>
	</div>
</div>
